__pycache__
*.log
*.out
*.sh
*_resources
/reference_dir/__pycache__
/reference_dir/Si*
dielectric_pyscf/test
dielectric_pyscf/configure_pyscf.py
dielectric_pyscf/rpa_dielectric_cython.c*
dielectric_pyscf/build
/bandstructure_plot.py
/DFT_resources.zip
build/